<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bolts" version="1.4.0.1" targetFramework="monoandroid81" />
  <package id="FBLoginBuddy" version="2.0.3" targetFramework="monoandroid81" />
  <package id="FilenameBuddy" version="2.0.8" targetFramework="monoandroid81" />
  <package id="FontBuddy" version="2.0.16" targetFramework="monoandroid81" />
  <package id="FontBuddyPlus" version="2.0.6" targetFramework="monoandroid81" />
  <package id="GameTimer" version="2.0.0" targetFramework="monoandroid44" />
  <package id="HadoukInput" version="2.0.32" targetFramework="monoandroid81" />
  <package id="InputHelper" version="2.0.7" targetFramework="monoandroid81" />
  <package id="MatrixExtensions" version="2.0.0" targetFramework="monoandroid44" />
  <package id="MenuBuddy" version="2.0.66" targetFramework="monoandroid81" />
  <package id="MonoGame.Framework.Android" version="3.7.1.189" targetFramework="monoandroid44" />
  <package id="MouseBuddy" version="2.0.2" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="monoandroid81" />
  <package id="PlayFabBuddy.Auth" version="2.0.26" targetFramework="monoandroid81" />
  <package id="PlayFabBuddy.Core" version="2.0.17" targetFramework="monoandroid81" />
  <package id="PlayFabBuddy.DisplayName" version="2.0.2" targetFramework="monoandroid81" />
  <package id="PlayFabBuddy.LoginScreen" version="2.0.38" targetFramework="monoandroid81" />
  <package id="Plugin.CurrentActivity" version="2.1.0.4" targetFramework="monoandroid81" />
  <package id="PrimitiveBuddy" version="2.0.0" targetFramework="monoandroid44" />
  <package id="RandomExtensions.dmanning23" version="2.0.0" targetFramework="monoandroid44" />
  <package id="ResolutionBuddy" version="2.0.1" targetFramework="monoandroid44" />
  <package id="SimpleStorage" version="1.4.20" targetFramework="monoandroid81" />
  <package id="SpriteFontPlus.Content" version="2.0.1" targetFramework="monoandroid81" />
  <package id="SpriteFontPlus.MonoGame" version="0.7.0.22" targetFramework="monoandroid81" />
  <package id="StateMachineBuddy" version="2.0.20" targetFramework="monoandroid81" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="monoandroid81" />
  <package id="TouchScreenBuddy" version="2.0.6" targetFramework="monoandroid81" />
  <package id="Vector2Extensions" version="2.0.2" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.DeviceInfo" version="4.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.CustomTabs" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.AppLinks.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Common.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Core.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Login.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Messenger.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Places.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Share.Android" version="5.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Google.ZXing.Core" version="3.3.0" targetFramework="monoandroid81" />
  <package id="XmlBuddy" version="2.0.1" targetFramework="monoandroid44" />
</packages>